# Carpetas generadas por el motor de Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Archivos de memoria y rendimiento
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Archivos autogenerados de IDEs (Visual Studio / Rider)
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Archivos basura del Sistema Operativo
.DS_Store
Thumbs.db
.vs/HistoryRestorer-Unity.slnx/FileContentIndex/673ec341-e459-4186-b74b-8b884e084626.vsidx
.vs/HistoryRestorer-Unity.slnx/FileContentIndex/a3fa5a89-1c04-4600-9138-e81c17bb2ff4.vsidx
.vs/HistoryRestorer-Unity.slnx/FileContentIndex/d957024f-5c42-4be5-b0d7-c1964bbad662.vsidx
.vs/HistoryRestorer-Unity.slnx/FileContentIndex/db88c723-ff57-4b6c-b798-6a9d4458d499.vsidx
.vs/HistoryRestorer-Unity.slnx/FileContentIndex/e76936d0-2cef-4132-8666-b6246c732e04.vsidx
Assets/Ficha_Leon.prefab
Assets/Ficha_Leon.prefab.meta
Assets/Sprites_Mision2.meta
Assets/Scripts/ArrastrarFicha.cs
Assets/Scripts/ArrastrarFicha.cs.meta
Assets/Scripts/ControladorMision.cs
Assets/Scripts/ControladorMision.cs.meta
Assets/Scripts/DatosFicha.cs
Assets/Scripts/DatosFicha.cs.meta
Assets/Scripts/ZonaReceptora.cs
Assets/Scripts/ZonaReceptora.cs.meta
Assets/Sprites_Mision2/leon.jpg
Assets/Sprites_Mision2/leon.jpg.meta
Assets/Sprites_Mision2/luz.jpg
Assets/Sprites_Mision2/luz.jpg.meta
Assets/Sprites_Mision2/moto.jpg
Assets/Sprites_Mision2/moto.jpg.meta
Assets/Sprites_Mision2/tren.jpg
Assets/Sprites_Mision2/tren.jpg.meta
